# Firebase Web SDK Configuration
VITE_FIREBASE_API_KEY=AIzaSyCpOWb1n0Ji79pamKA1lLsDCrjhh9vLIgo
VITE_FIREBASE_AUTH_DOMAIN=ile-app-954ba.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ile-app-954ba
VITE_FIREBASE_STORAGE_BUCKET=ile-app-954ba.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=176654085856
VITE_FIREBASE_APP_ID=1:176654085856:web:e8806501a8ff5ca3602a85
VITE_FIREBASE_MEASUREMENT_ID=G-7X2W4RT852

